{% extends './Layout/layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include './Layout/header.twig' %}
{% endblock %}

{% block content %}

    {#Content#}
    <div class="row b-content">
        <div class="container">
            <div class="row b-tasks">
                <div class="col-12">
                    <div class="text-right b-sort">
                        <div class="b-sort-reviews-title"><b>Sort by:</b></div>
                        <div class="b-sort-reviews">
                            <span class="btn-sm btn-dark sort-name">Name</span>
                            <span class="btn-sm btn-dark sort-email">Email</span>
                            <span class="btn-sm btn-dark sort-date">Date</span>
                        </div>
                    </div>

                    {% for task in tasks %}
                            <div class="row b-task">
                                <div class="col-4 b-task-img text-center">
                                    <img src="{{ task.task_src }}" alt="">
                                </div>
                                <div class="col-8">
                                    <div><b>Name: </b><span class="b-task-name">
                                            {{ task.task_name }}
                                        </span>
                                    </div>
                                    <div><b>Email: </b><span class="b-task-email">
                                            {{ task.task_email }}
                                        </span>
                                    </div>
                                    <div><b>Date: </b><span class="b-task-status">
                                            {{ task.task_status }}
                                        </span>
                                    </div>
                                    <div><span class="b-task-text">{{ task.task_text }}</span></div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="b-pagination">

                    </div>
                </div>
            </div>
            <div class="row b-black-block">
                <div class="col-12"></div>
            </div>
            <div class="row justify-content-center b-task-form">
                <div class="col-6">
                    <h2 class="text-dark text-center">Add task</h2>
                    <form enctype="multipart/form-data" action="" method="post"  novalidate>

                        <div class="form-row ">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="name"></label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                                    <div class="b-error">
                                        {% if error.name %}{{ error.name }}{% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" >
                                    <div class="b-error">
                                        {% if error.email %}{{ error.email }}{% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="task"></label>
                                    <textarea placeholder="Task" name="task" id="task" cols="74" rows="4"></textarea>
                                    <div class="b-error">
                                        {% if error.text %}{{ error.text }}{% endif %}
                                    </div>
                                </div>
                                <small>jpg, png, gif</small>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file" id="file">
                                    <label class="custom-file-label" for="file">Choose file...</label>
                                    <div class="b-error">
                                        {% if error.img_error %}{{ error.img_error }}{% endif %}
                                    </div>
                                </div>
                                <div class="form-row justify-content-center b-task-form-btnblock">
                                    <div class="col-3">
                                        <div class="form-group text-right">
                                            <label for="preview"></label>
                                            <input type="button" class="btn btn-dark b-preview" value="Preview">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="send"></label>
                                            <input type="submit" class="btn btn-dark" id="send" value="Send">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include './Layout/footer.twig' %}
{% endblock %}