{% extends './layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include './header.twig' %}
{% endblock %}

{% block content %}

    {#Content#}
    <div class="row b-content">
        <div class="container">
            <div class="row b-reviews">
                <div class="col-12">
                    {% for review in reviews %}
                        <div class="row b-review">
                            <div class="col-4 b-review-img text-center">
                                <img src="{{ review.review_img }}" alt="">
                            </div>
                            <div class="col-8">
                                <div class="b-reviews-action">
                                    <a href="/admin/decline">
                                        <span class="btn-sm btn-dark">Decline</span>
                                    </a>
                                    <a href="/admin/confirm">
                                        <span class="btn-sm btn-dark">Confirm</span>
                                    </a>
                                    <a href="/admin/{{ review.review_id }}">
                                        <span class="btn-sm btn-dark">Change</span>
                                    </a>
                                </div>
                                <div><b>Name: </b><span class="b-review-name">{{ review.review_name }}</span></div>
                                <div><b>Email: </b><span class="b-review-email">{{ review.review_email }}</span></div>
                                <div><b>Date: </b><span class="b-review-date">{{ review.review_date|date("Y-m-d") }}</span></div>
                                <div><span class="b-review-review">{{ review.review_text }}</span></div>
                                <div class="b-change-admin"><small>Change by admin</small></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include './footer.twig' %}
{% endblock %}