{% extends './layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include './header.twig' %}
{% endblock %}

{% block content %}

    {#Content#}
    <div class="row b-content">
        <div class="container">
            <div class="row b-reviews">
                <div class="col-12">
                    <div class="row justify-content-center b-reviews-form">
                        <div class="col-12"><h2 class="text-dark text-center">Change reviews form</h2></div>
                        <div class="col-4 b-review-img-change">
                            <img src="{{ review.review_img }}" alt="">
                        </div>
                        <div class="col-6">
                            <form enctype="multipart/form-data" action="" method="post" novalidate>
                                <div class="form-row ">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" name="name" id="name" value="{{ review.review_name }}">
                                            <div class="b-error">
                                                {% if error.name %}{{ error.name }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" value="{{ review.review_email }}" >
                                            <div class="b-error">
                                                {% if error.email %}{{ error.email }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="review">Review</label>
                                            <textarea  name="review" id="review" cols="74" rows="4">{{ review.review_text }}</textarea>
                                            <div class="b-error">
                                                {% if error.review %}{{ error.review }}{% endif %}
                                            </div>
                                        </div>
                                        <small>jpg, png, gif</small>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="file" id="file">
                                            <label class="custom-file-label" for="file">Choose file...</label>
                                            <div class="b-error">
                                                {% if error.img_error %}{{ error.img_error }}{% endif %}
                                            </div>
                                        </div>
                                        <div class="form-row  b-reviews-form-btnblock justify-content-end">
                                                <div class="form-group">
                                                    <label for="send"></label>
                                                    <input type="hidden" name="id" value = "{{ review.review_id }}">
                                                    <input type="submit" class="btn btn-dark" id="send" value="Change">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include './footer.twig' %}
{% endblock %}