{% extends './Layout/layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include './Layout/header.twig' %}
{% endblock %}

{% block content %}

    {#Content#}
    <div class="row b-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs justify-content-center b-reviews-tab">
                            <li>
                                <a href="#tab1" data-toggle="tab" class="active show">
                                    <span class="btn-sm btn-dark">Under consideration</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab">
                                    <span class="btn-sm btn-dark">Confirmed reviews</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab3" data-toggle="tab">
                                    <span class="btn-sm btn-dark">Declined reviews</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                {% for review in reviews %}
                                    {% if review.review_status == 10 %}
                                    <div class="row b-review">
                                        <div class="col-4 b-review-img text-center">
                                            <img src="{{ review.review_img }}" alt="">
                                        </div>
                                        <div class="col-8">
                                            <div class="b-reviews-action">
                                                <a href="/admin/decline/{{ review.review_id }}">
                                                    <span class="btn-sm btn-dark">Decline</span>
                                                </a>
                                                <a href="/admin/confirm/{{ review.review_id }}">
                                                    <span class="btn-sm btn-dark">Confirm</span>
                                                </a>
                                                <a href="/admin/{{ review.review_id }}">
                                                    <span class="btn-sm btn-dark">Change</span>
                                                </a>
                                            </div>
                                            <div><b>Name: </b><span class="b-review-name">{{ review.review_name }}</span></div>
                                            <div><b>Email: </b><span class="b-review-email">{{ review.review_email }}</span></div>
                                            <div><b>Date: </b><span class="b-review-date">{{ review.review_date|date("Y-m-d") }}</span></div>
                                            <div><span class="b-review-review">{{ review.review_text }}</span></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="tab-pane" id="tab2">
                                {% for review in reviews %}
                                    {% if review.review_status == 9 %}
                                        <div class="row b-review">
                                            <div class="col-4 b-review-img text-center">
                                                <img src="{{ review.review_img }}" alt="">
                                            </div>
                                            <div class="col-8">
                                                <div class="b-reviews-action">
                                                    <a href="/admin/decline/{{ review.review_id }}">
                                                        <span class="btn-sm btn-dark">Decline</span>
                                                    </a>
                                                    <a href="/admin/{{ review.review_id }}">
                                                        <span class="btn-sm btn-dark">Change</span>
                                                    </a>
                                                </div>
                                                <div><b>Name: </b><span class="b-review-name">{{ review.review_name }}</span></div>
                                                <div><b>Email: </b><span class="b-review-email">{{ review.review_email }}</span></div>
                                                <div><b>Date: </b><span class="b-review-date">{{ review.review_date|date("Y-m-d") }}</span></div>
                                                <div><span class="b-review-review">{{ review.review_text }}</span></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="tab-pane" id="tab3">
                                {% for review in reviews %}
                                    {% if review.review_status == 11 %}
                                        <div class="row b-review">
                                            <div class="col-4 b-review-img text-center">
                                                <img src="{{ review.review_img }}" alt="">
                                            </div>
                                            <div class="col-8">
                                                <div class="b-reviews-action">
                                                    <a href="/admin/confirm/{{ review.review_id }}">
                                                        <span class="btn-sm btn-dark">Confirm</span>
                                                    </a>
                                                    <a href="/admin/{{ review.review_id }}">
                                                        <span class="btn-sm btn-dark">Change</span>
                                                    </a>
                                                </div>
                                                <div><b>Name: </b><span class="b-review-name">{{ review.review_name }}</span></div>
                                                <div><b>Email: </b><span class="b-review-email">{{ review.review_email }}</span></div>
                                                <div><b>Date: </b><span class="b-review-date">{{ review.review_date|date("Y-m-d") }}</span></div>
                                                <div><span class="b-review-review">{{ review.review_text }}</span></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include './Layout/footer.twig' %}
{% endblock %}