{% extends 'layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block content %}

    {#Content#}
    <div class="row b-content">
        <div class="container">
            <div class="row b-reviews">
                <div class="col-12">
                    <div class="text-right">
                        <div class="b-sort-reviews-title"><b>Sort by:</b></div>
                        <div class="b-sort-reviews">
                            <span class="btn-sm btn-dark sort-name">Name</span>
                            <span class="btn-sm btn-dark sort-email">Email</span>
                            <span class="btn-sm btn-dark sort-date">Date</span>
                        </div>
                    </div>

                    {% for review in reviews %}
                        <div class="row b-review">
                            <div class="col-4 b-review-img text-center">
                                <img src="{{ review.review_img }}" alt="">
                            </div>
                            <div class="col-8">
                                <div><b>Name: </b><span class="b-review-name">{{ review.review_name }}</span></div>
                                <div><b>Email: </b><span class="b-review-email">{{ review.review_email }}</span></div>
                                <div><b>Date: </b><span class="b-review-date">{{ review.review_date|date("Y-m-d") }}</span></div>
                                <div><span class="b-review-review">{{ review.review_text }}</span></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row b-black-block">
                <div class="col-12"></div>
            </div>
            <div class="row justify-content-center b-reviews-form">
                <div class="col-6">
                    <h2 class="text-dark text-center">Add reviews form</h2>
                    <form enctype="multipart/form-data" action="/" method="post"  novalidate>

                        <div class="form-row ">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="name"></label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                                    <div class="b-error">
                                        {% if error.name %}{{ error.name }}{% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" >
                                    <div class="b-error">
                                        {% if error.email %}{{ error.email }}{% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="review"></label>
                                    <textarea placeholder="Review" name="review" id="review" cols="74" rows="4"></textarea>
                                    <div class="b-error">
                                        {% if error.review %}{{ error.review }}{% endif %}
                                    </div>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file" id="file">
                                    <label class="custom-file-label" for="file">Choose file...</label>
                                    <div class="b-error">
                                        {% if error.img_error %}{{ error.img_error }}{% endif %}
                                    </div>
                                </div>
                                <div class="form-row justify-content-center b-reviews-form-btnblock">
                                    <div class="col-3">
                                        <div class="form-group text-right">
                                            <label for="preview"></label>
                                            <input type="button" class="btn btn-dark b-preview" value="Preview">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="send"></label>
                                            <input type="submit" class="btn btn-dark" id="send" value="Send">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}