{% extends 'layout.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block header %}
{% include 'header.twig' %}
{% endblock %}

{% block content %}

        {#Content#}
        <div class="row b-content">
            <div class="container">
                <div class="row b-reviews">
                    <div class="col">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Review</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for review in reviews %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ review.review_name }}</td>
                                <td>{{ review.review_email }}</td>
                                <td>{{ review.review_text }}</td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {#end content#}

    {#Footer#}
    {#<div class="container-fluid">#}
        {#<div class="row b-footer">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col">#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}